.header {
  height: 12vh;
  display: flex;
  margin: 0 -1.25rem 2rem;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  font-size: $MainFontSize;

  &--light {
    background-color: $White;
    color: $LightModeDarkBlue;
    box-shadow: 0 .03rem .3rem hsla(0, 0%, 52%, 0.3);
  }

  &--dark {
    background-color: $DarkModeBlue;
    color: $White;
    box-shadow: 0 .03rem .3rem hsla(200, 15%, 8%, 0.3);
  }

  &__title {
    font-size: 1rem;
  }
}