.main {

  .form {
    display: flex;
    align-items: center;
    height: 8vh;
    margin-bottom: 3rem;
    max-width: 500px;
    

    &--light {
      box-shadow: 0 .15rem .5rem .03rem rgba(73, 73, 73, 0.08);
    }

    &--dark {
      box-shadow: 0 .15rem .5rem .03rem rgba(34, 35, 36, 0.452);
    }
    
    &__input {
      border-radius: 0 5px 5px 0;
      height: inherit;
      width: 100%;
      max-width: inherit;
      order: 2;
      border: none;
      outline: none;
      color: $White;
      font-weight: $LightWeight;

      &--light {
        color: $LightModeDarkGray;

        &::placeholder {
          color: hsla(0, 0%, 52%, 0.473);
        }
      }

      &--dark {
        background-color: $DarkModeBlue;

        &::placeholder {
          color: hsla(0, 0%, 100%, .8);
        }
      }
    }

    &__btn {
      border-radius: 5px 0 0 5px;
      height: inherit;
      order: 1;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &__img {
      width: 1.25rem;

      &--light {
        filter: invert(61%) sepia(0%) saturate(114%) hue-rotate(196deg) brightness(86%) contrast(98%);
      }

      &--dark {
        filter: invert(100%) sepia(1%) saturate(887%) hue-rotate(213deg) brightness(114%) contrast(93%);
      }
    }
  }

  .list {
    list-style: none;
    width: 55%;
    max-width: 200px;
    padding-left: 0;
    margin-bottom: 1.5rem;
    z-index: 2;
    border-radius: 3px;
    

    &--light {
      background-color: $White;
      box-shadow: 0 .15rem .35rem .03rem rgba(73, 73, 73, 0.08);
    }

    &--dark {
      background-color: $DarkModeBlue;
      box-shadow: 0 .15rem .35rem .03rem rgba(34, 35, 36, 0.452);
    }

    &__item {
      padding: .35rem .35rem .35rem 1rem;
      font-weight: $LightWeight;

      &--title {
        width: 100%;
        padding-top: .85rem;
        padding-bottom: .85rem;
        
        &-light {
          border-bottom: 4px solid $LightModeGray;
        }
        
        &-dark {
          border-bottom: 4px solid $DarkModeDarkBlue;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__img {
      width: .7rem;
      margin-left: auto;
      margin-right: .3rem;

      &--light {
        filter: invert(3%) sepia(58%) saturate(359%) hue-rotate(158deg) brightness(91%) contrast(90%);
      }

      &--dark {
        filter: invert(100%) sepia(1%) saturate(887%) hue-rotate(213deg) brightness(114%) contrast(93%);
      }
    }
  }
}